<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="cargbaby">
                    <form action="" method="post">
                        <div class="form-group">
                            <label for="">consulta</label>
                        </div>

                        <div class="form-group">
                            <input class="form-control" type="text" name="usuario" id="" placeholder="usuario" >
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="contra" id="" placeholder="contraseña">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn bnt-success btn-block">enviar</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>