
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="col-md-4 mx-auto"></div>
 <!-- <a class="navbar-brand" href="#"></a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Links
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/links/add">agregar</a>
          <a class="dropdown-item" href="/links/consultar">consultar</a>
          <a class="dropdown-item" href="/links/update">mofdificar</a>
          <a class="dropdown-item" href="/links/eliminar">eliminar</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Docentes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/profes/add">agregar</a>
          <a class="dropdown-item" href="/profes/consultar">consultar</a>
          <a class="dropdown-item" href="/profes/update">mofdificar</a>
          <a class="dropdown-item" href="/profes/eliminar">eliminar</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Estudiantes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/estudiantes/add">agregar</a>
          <a class="dropdown-item" href="/estudiantes/consultar">consultar</a>
          <a class="dropdown-item" href="/estudiantes/update">mofdificar</a>
          <a class="dropdown-item" href="/estudiantes/eliminar">eliminar</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Usuarios
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/usuarios/add">agregar</a>
          <a class="dropdown-item" href="/usuarios/consultar">consultar</a>
          <a class="dropdown-item" href="/usuarios/update">mofdificar</a>
          <a class="dropdown-item" href="/usuarios/eliminar">eliminar</a>
        </div>
      </li>
    </ul>
  </div>
  </div>
</nav>
